[user]
  name = Eugene Rodionov
  email = git@theaqua.im
[push]
  default = current
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  pl = pull
  p = push
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short